html, body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: #3c4043;

}

.square {
	height: 200px;
	width: 200px;
	margin: 20px;
}

#tic-tac-toe .disable {
    text-transform: uppercase;
    transition-duration: 0.5s;
    font-size: 30px;
}

#tic-tac-toe #game li {
    list-style: none;
    text-align: center;
    vertical-align: middle;
    font-size: 120px;
    color: #ccc
}

#tic-tac-toe #game li.disable {
    color: #fff
}

#tic-tac-toe #game {
    padding: 0;
    clear: both
}

#tic-tac-toe h1 {
    text-align: center;
    font-size: 28px
}

#tic-tac-toe li::-moz-selection {
    background: none;
    color: #000;
}

#tic-tac-toe li::-webkit-selection {
    background: none;
    color: #000;
}

#tic-tac-toe {
    margin: 0 auto
}

.copyleft {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  display: inline-block;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 349px) {
	.square {
		height: 60px;
		width: 60px;
		margin: 10px;
	}

	#tic-tac-toe #game li {
	    list-style: none;
	    text-align: center;
	    vertical-align: middle;
	    font-size: 30px;
	    color: #ccc
	}

}

@media (min-width: 350px) and (max-width: 992px) {
	.square {
		height: 80px;
		width: 80px;
		margin: 10px;
	}

	#tic-tac-toe #game li {
	    list-style: none;
	    text-align: center;
	    vertical-align: middle;
	    font-size: 50px;
	    color: #ccc
	}

}
